header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.btn{
	width: max-content;
	display: inline-block;
	color: var(--color-primary);
	padding: 0.75rem 1.2rem;
	border-radius: 0.4rem;
	border: 1px solid var(--color-primary);
	transition: var(--transition);
}

.btn:hover{
	background-color: var(--color-white);
	color: var(--color-bg);
	border-color: transparent;
	cursor: pointer;
}
.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}

.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.header__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;

}

.header__socials::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

.me{
    width: 20rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 9rem);
    z-index: -1;
    margin-top: 4rem;
    border: 2px solid var(--color-primary);
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
}

.scroll__down{
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-size: 0.9rem;
}

/* Media query screen(medium devices) */
@media screen and (max-width: 1024px) {
	header{
        height: 100vh;
    }

    .me{
        
        left: calc(50% - 9rem);
        
    }

	
}
	
/* Media query screen(medium devices) */
@media screen and (max-width: 600px) {
	header{
        height: 100vh;
    }

    .me{
        
        left: calc(50% - 9.8rem);
        
    }

    .scroll__down{
        display: none;

    }
    .header__socials{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        position: relative;
        right: 1rem;
        top: 2rem;
        justify-content: center;
        padding-left: 1rem;
    
    }

    .header__socials::after{
        display: none;
    }
    

    .first::after{
    content: '';
    position: absolute;
    width: 1px;
    bottom: 0.1rem;
    left: 50%;
    height: 2rem;
    background: var(--color-primary);
    margin-left: 0.5rem;

    }

	
}